In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Provideniya,RU,2022-05-25 23:02:17,64.3833,-173.3000,37.51,81,40,2.24
1,1,Puerto Ayora,EC,2022-05-25 23:02:17,-0.7393,-90.3518,72.55,94,73,1.01
2,2,Bambous Virieux,MU,2022-05-25 23:02:18,-20.3428,57.7575,70.05,88,20,3.44
3,3,East London,ZA,2022-05-25 23:02:18,-33.0153,27.9116,63.79,71,22,15.30
4,4,Saint George,US,2022-05-25 23:00:19,37.1041,-113.5841,97.43,11,0,5.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp:
    temps.append(max(temp, 0))
    
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weight=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Cabo San Lucas,MX,2022-05-25 22:57:41,22.8909,-109.9124,84.61,64,7,12.41
9,9,Butaritari,KI,2022-05-25 23:02:20,3.0707,172.7902,81.39,77,93,18.72
14,14,Faanui,PF,2022-05-25 23:02:22,-16.4833,-151.7500,80.76,66,5,11.68
15,15,Kapaa,US,2022-05-25 23:02:22,22.0752,-159.3190,80.47,70,3,5.01
21,21,Buala,SB,2022-05-25 23:02:24,-8.1450,159.5921,83.37,73,28,4.32
24,24,Avarua,CK,2022-05-25 23:02:25,-21.2078,-159.7750,82.45,69,75,4.61
33,33,Pozo Colorado,PY,2022-05-25 23:02:29,-23.4923,-58.7972,75.31,49,43,5.91
37,37,Acarau,BR,2022-05-25 22:59:30,-2.8856,-40.1200,77.54,87,12,10.27
42,42,Camacari,BR,2022-05-25 23:01:02,-12.6975,-38.3242,75.42,73,54,8.48
43,43,Tanout,NE,2022-05-25 23:02:32,14.9709,8.8879,85.26,8,0,8.21

In [13]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
7   Cabo San Lucas      MX     84.61  22.8909 -109.9124
9       Butaritari      KI     81.39   3.0707  172.7902
14          Faanui      PF     80.76 -16.4833 -151.7500
15           Kapaa      US     80.47  22.0752 -159.3190
21           Buala      SB     83.37  -8.1450  159.5921
24          Avarua      CK     82.45 -21.2078 -159.7750
33   Pozo Colorado      PY     75.31 -23.4923  -58.7972
37          Acarau      BR     77.54  -2.8856  -40.1200
42        Camacari      BR     75.42 -12.6975  -38.3242
43          Tanout      NE     85.26  14.9709    8.8879

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [34]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Cabo San Lucas,MX,84.61,22.8909,-109.9124,Vista Roof Restaurant
9,Butaritari,KI,81.39,3.0707,172.7902,Isles Sunset Lodge
14,Faanui,PF,80.76,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
15,Kapaa,US,80.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
21,Buala,SB,83.37,-8.1450,159.5921,Maringe Lagoon Lodge
...,...,...,...,...,...,...
533,Aswan,EG,81.36,24.0934,32.9070,Nuba Nile
539,Milledgeville,US,86.14,33.0801,-83.2321,Hampton Inn Milledgeville
541,Tabuk,PH,78.53,17.4189,121.4443,Golden Berries Hotel and Convention
542,Singaraja,ID,80.56,-8.1120,115.0882,Puri Bagus Lovina Resort
547,Pecos,US,78.89,31.4229,-103.4932,Knights Inn & Suites Pecos Northeast

In [41]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))